@import '~antd/dist/antd.css';

.ant-btn-options{
  border: none;
  background-color: transparent;
  color: white;
  background-color: transparent !important;
  font-size: "18px"
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background-color: #f8f8f8;
  border-top: solid 1px #EDE9E9;
}